<h1>Find a Game</h1><hr><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="search" action="/games" method="GET" style="margin:auto;max-width:50%">
    <input type="text" id="query" class="form-control" name="name" placeholder="Search.." required>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>
